.wrapper {
    padding-top: 64px;
    background-color: rgb(43, 43, 43);
    padding-left: 32px;
}

.banner {
    display: flex;
}

.img {
}

.image {
    width: 232px;
    height: 232px;
}

.title {
    margin-left: 32px;
}

.controller {
}

.tracks {
}
