.wrapper {
    margin-top: 64px;
    padding: 32px 32px;
    width: 100%;
}
.title {
    font-size: 2.4rem;
}

.genres {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    position: relative;

    margin-bottom: 24px;

    & .name {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        padding: 16px;
        font-size: 2rem;
        text-align: center;
    }

    & .image {
        width: 180px;
        height: 180px;
        border-radius: 15px;
    }
}
